<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% if page.title != null %}{{ page.title }} - {% endif %}security.plist | A proposed standard which allows iOS applications to define security policies</title>
    <link rel="shortcut icon" type="image/png" href="https://github.com/ivRodriguezCA/securitytxt.org/blob/master/securityplist-favicon.png?raw=true"/>
    <!-- Search Engine -->
    <meta name="description" content="A proposed standard which allows iOS applications to define security policies.">
    <meta name="image" content="https://github.com/ivRodriguezCA/securitytxt.org/blob/master/securityplist-favicon.png?raw=true">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="security.plist">
    <meta itemprop="description" content="A proposed standard which allows iOS applications to define security policies.">
    <meta itemprop="image" content="https://github.com/ivRodriguezCA/securitytxt.org/blob/master/securityplist-favicon.png?raw=true">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="security.plist">
    <meta name="twitter:description" content="A proposed standard which allows iOS applications to define security policies.">
    <meta name="twitter:site" content="@securityplist">
    <meta name="twitter:creator" content="@ivRodriguezCA">
    <meta name="twitter:image:src" content="https://github.com/ivRodriguezCA/securitytxt.org/blob/master/securityplist-favicon.png?raw=true">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="security.plist">
    <meta name="og:description" content="A proposed standard which allows iOS applications to define security policies.">
    <meta name="og:image" content="https://github.com/ivRodriguezCA/securitytxt.org/blob/master/securityplist-favicon.png?raw=true">
    <meta name="og:url" content="https://securityplist.ivrodriguez.com/">
    <meta name="og:site_name" content="security.plist">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="website">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{{ "/css/stylesheet.css" | relative_url }}?v={{ site.time | date: "%s" }}">
    <script type='application/ld+json'> 
    {
      "@context": "http://www.schema.org",
      "@type": "WebSite",
      "name": "security.plist",
      "url": "https://securityplist.ivrodriguez.com/"
    }
     </script>
</head>
<body {% if page.index != null %}class="index"{% endif %}>
    <div id="wrapper">
        <section class="hero is-medium is-light">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <h1 class="navbar-item title">security.plist</h1>
                            <a role="button" class="navbar-burger" aria-label="menu">
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="navbar-menu">
                            <div class="navbar-start"></div>
                            <div class="navbar-end">
                                <a href="{{ "/" | relative_url }}" class="navbar-item{% if page.active == 1 %} is-active{% endif %}">Home</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            {% if page.index != null %}
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <h1 class="title">
                            security.plist
                        </h1>
                        <h2 class="subtitle">
                            A proposed standard which allows iOS applications to define security policies.
                        </h2>
                    </div>
                </div>
                <div class="hero-foot">
                    <nav class="tabs">
                        <div class="container">
                            <img src="https://github.com/ivRodriguezCA/securitytxt.org/blob/master/securityplist.png?raw=true" alt="">
                        </div>
                    </nav>
                </div>
            {% endif %}
        </section>
        {{ content }}
    </div>
    <footer class="footer">
        <div class="container is-fluid">
            <div class="content has-text-centered">
                <p>
                    <strong>security.plist</strong> by <a href="https://twitter.com/ivRodriguezCA">Ivan Rodriguez</a>.
                </p>
            </div>
        </div>
    </footer>
    <script>
        document.querySelector('.navbar-burger').addEventListener('click', function(e) {
            e.target.classList.toggle('is-active');
            document.querySelector('.navbar-menu').classList.toggle('is-active');
        });
    </script>
</body>
</html>
